.next-profiles {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
  margin-top: 29.67px;
  margin-left: 38.3%;
  background: #35660e;
  height: 54.88px;
  width: 19.8%;
  min-width: 160px;
  box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  border: none;
}

.next-profiles .inner-next-profiles {
  position: relative;
  top: -5px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form .h1form {
  text-transform: uppercase;
  width: 79.4%;
  height: 52.64px;
  background-color: #35660e;
  margin-left: 5.2%;
  justify-content: flex-end;
  margin-top: 73px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 33px;
  letter-spacing: 0.15em;
  display: flex;
  align-items: center;
}

.form .under-h1 {
  background: #071594;
  height: 9.29px;
  width: 14.7%;
  margin-left: 69.9%;
  margin-top: 12.39px;
}

.form .inner-form {
  margin-top: 55.74px;
  width: 66.6%;
  margin-left: 18%;
}

.form .inner-form .wrapper-field {
  position: relative;
}

.form .inner-form .wrapper-field .field {
  width: 45.9%;
  height: 43.35px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 33px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.form .inner-form .wrapper-field .field .input {
  border: none;
}

.form .inner-form .wrapper-field .checkbox {
  position: relative;
}

.form .inner-form .wrapper-field .checkbox .input[type="checkbox"] {
  transform: scale(2.3);
  margin-right: 8.9%;
}

.form .inner-form .wrapper-field .checkbox p {
  position: absolute;
  text-align: right;
  width: 100%;
  min-width: 344px;
  height: 43.35px;
  font-family: "Inter";
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  line-height: 33px;
  color: #ff0000;
  right: -250px;
  top: 5px;
}

.form .inner-form .wrapper-field hr {
  height: 1.55px;
}

.form .inner-form .wrapper-field hr:nth-of-type(1) {
  margin-top: 46.45px;
  margin-bottom: 23.22px;
}

.form .inner-form .wrapper-field hr:nth-of-type(2) {
  margin-top: 48px;
  margin-bottom: 21.68px;
}

.form .inner-form .wrapper-field hr:nth-of-type(3) {
  margin-top: 49.55px;
  margin-bottom: 20.13px;
}

.form .inner-form .wrapper-field hr:nth-of-type(4) {
  margin-top: 50.86px;
  margin-bottom: 33.45px;
}

.form .inner-form .wrapper-field p {
  position: absolute;
  text-align: right;
  width: 46%;
  min-width: 344px;
  bottom: -40px;
  height: 43.35px;
  font-family: "Inter";
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  line-height: 33px;
  color: #ff0000;
  right: 0;
}

.form .inner-form .submit {
  color: #ffffff;
  border: 1px solid #d9d9d9;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  margin-top: 28.65px;
  margin-left: 35.2%;
  margin-bottom: 50px;
  height: 54.88px;
  background: #071594;
  box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  width: 29.8%;
  min-width: 102px;
}

.form .inner-form .submit .inner-submit {
  line-height: 30px;
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
  position: relative;
  top: -5px;
}

@media all and (max-width: 1200px) {
  .form .inner-form .wrapper-field .checkbox p {
    right: 0;
    top: 40px;
  }
}

@media all and (max-width: 1200px) {
  .form .inner-form .wrapper-field .checkbox p {
    right: -150px;
  }
}

@media all and (max-width: 576px) {
  .next-profiles {
    display: block;
    margin: auto;
    margin-top: 29.67px;
  }
  .form .h1form {
    font-size: 16px;
  }
  .form .inner-form .wrapper-field .field.checkbox p {
    font-size: 12px;
  }
  .form .inner-form .wrapper-field .field label {
    font-size: 12px;
  }
  .form .inner-form .wrapper-field p {
    font-size: 12px;
  }
  .form .inner-form .wrapper-field .field:nth-of-type(4) {
    margin: auto;
    flex-direction: column;
  }
  .form .inner-form .wrapper-field .submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media all and (max-width: 345px) {
  .form .inner-form .wrapper-field .field.checkbox p {
    right: -100px;
  }
  .form .inner-form .field:nth-of-type(5) {
    margin: auto;
    flex-direction: column;
  }
  .form .inner-form .field:nth-of-type(5) .input {
    margin-bottom: 10px;
  }
}
