    .header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 87px;
      .name {
        /* czcionka z filmiku? */
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-size: 30px;
        line-height: 30px;
        font-style: normal;
        color: #000000;
        height: 77px;
        width: 51.3%;
        margin-left: 1.85%;
        margin-top: 11px;
      }
      .form-text {
        width: 20.9%;
        min-width: 136px;
        background-color: #40483a;
        margin-right: 2.3%;
        margin-top: 11px;
        height: 90px;
        border-radius: 20px;
        box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.75);
        .text {
          font-family: "Lato", sans-serif;
          font-weight: 400;
          font-style: italic;
          font-size: 30px;
          line-height: 30px;
          margin-top: 10.5px;
          color: #ffffff;
          width: 80%;
          margin-left: 18.3%;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
      }
    }
    .picture {
      position: relative;
      margin-left: 13.4%;
      width: 70.8%;
      aspect-ratio: 108/100;
      background: rgba(54, 44, 44, 0.01);
      background-color: #575555;
      backdrop-filter: blur(280px);
      /* background-color: #D9D9D9; */
      // border-radius: 65% 7.8% 40% 13%;
      // border-radius: 500px 60px 300px 100px;
      // 800 739
      // border-radius: 62.5% / 67.7% 7.5% / 8.1% 37.5% / 40.6% 12.5% / 13.5%;
      border-radius: 62.5% 7.5% 37.5% 12.5%/ 67.7% 8.1% 40.6% 13.5%;
      
      .inner-picture {
        display: inline-block;
        /* height: 383px; */
        /* width: 534px; */
        width: 66.75%;
        aspect-ratio: 139/100;
        background-color: #ffffff;
        margin-left: 18%;
        margin-top: 140px;
        /* border-radius: 200px 20px 100px 50px; */
        // border-radius: 37.5% 4.4% 18.75% 9.375%;
        border-radius: 37.5% 3.7% 18.7% 9.7%/ 52% 5.2% 26.1% 13.1%;
  
        /* border-radius: 43.6% 20px 100px 50px; */
        /* 534/384 */
        /* 75 */
        /* 459 */
      }
      .description {
        position: relative;
        width: 41.7%;
        margin-top: 26.39px;
        margin-left: 28.3%;
        .tick {
          position: absolute;
          right: -30%;
          top: 0;
        }
        .person {
          position: absolute;
          right: -10%;
          top: 5%;
        }
        .h1name {
          font-family: "Inter", sans-serif;
          font-style: normal;
          font-weight: 800;
          font-size: 50px;
          line-height: 61px;
          
          height: 76.26px;
          width: 100%;
          
          text-align: center;
        }
        .look {
          font-family: "Inter", sans-serif;
          position: relative;
          top: -15.01px;
          height: 59.5px;
          width: 98%;
          background-color: #575555;
          .inner-look {
            // position: relative;
            // top: -20px;
            display: block;
            font-family: "Inter";
            font-style: italic;
            color: black;
            font-weight: 100;
            font-size: 20px;
            line-height: 24px;
          }
        }
      }
      
    }
  
  @media all and (max-width: 992px) {
      .header {
        .form-text {
          .text {
            font-size: 20px;
          }
        }
      }
  }
  
  @media all and (max-width: 992px) {
      .header {
        flex-direction: column;
        align-items: center;
        .name {
          text-align: center;
        }
      }
      .picture {
        .description {
          .tick {
          top: 50px;
        }
        .person {
          top: 55px;
          right: -5%;
        }
      }
  }
}
  
  @media all and (max-width: 576px) {
      .picture {
        .description .person {
          top: 100px;
          right: -24%;
        }
        .h1name {
          font-size: 30px;
        }
      }
  }











//   .header {
//     display: flex;
//     justify-content: space-between;
//     margin-bottom: 87px;
//     .name {
//       /* czcionka z filmiku? */
//       font-family: "Lato", sans-serif;
//       font-weight: 400;
//       font-size: 30px;
//       line-height: 30px;
//       font-style: normal;
//       color: #000000;
//       height: 77px;
//       width: 51.3%;
//       margin-left: 1.85%;
//       margin-top: 11px;
//     }
//     .form-text {
//       width: 20.9%;
//       min-width: 136px;
//       background-color: #40483a;
//       margin-right: 2.3%;
//       margin-top: 11px;
//       height: 90px;
//       border-radius: 20px;
//       box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.75);
//       .text {
//         font-family: "Lato", sans-serif;
//         font-weight: 400;
//         font-style: italic;
//         font-size: 30px;
//         line-height: 30px;
//         margin-top: 10.5px;
//         color: #ffffff;
//         width: 80%;
//         margin-left: 18.3%;
//         text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//       }
//     }
//   }
//   .picture {
//     position: relative;
//     margin-left: 13.4%;
//     width: 70.8%;
//     aspect-ratio: 108/100;
//     background: rgba(54, 44, 44, 0.01);
//     background-color: #575555;
//     backdrop-filter: blur(280px);
//     /* background-color: #D9D9D9; */
//     // border-radius: 65% 7.8% 40% 13%;
//     // border-radius: 500px 60px 300px 100px;
//     // 800 739
//     // border-radius: 62.5% / 67.7% 7.5% / 8.1% 37.5% / 40.6% 12.5% / 13.5%;
//     border-radius: 62.5% 7.5% 37.5% 12.5%/ 67.7% 8.1% 40.6% 13.5%;
    
//     .inner-picture {
//       display: inline-block;
//       /* height: 383px; */
//       /* width: 534px; */
//       width: 66.75%;
//       aspect-ratio: 139/100;
//       background-color: #ffffff;
//       margin-left: 18%;
//       margin-top: 140px;
//       /* border-radius: 200px 20px 100px 50px; */
//       // border-radius: 37.5% 4.4% 18.75% 9.375%;
//       border-radius: 37.5% 3.7% 18.7% 9.7%/ 52% 5.2% 26.1% 13.1%;

//       /* border-radius: 43.6% 20px 100px 50px; */
//       /* 534/384 */
//       /* 75 */
//       /* 459 */
//     }
//     .description {
      
//     }
//     .tick {
//       position: absolute;
//     }
//     .h1name {
//       font-family: "Inter", sans-serif;
//       font-style: normal;
//       font-weight: 800;
//       font-size: 50px;
//       line-height: 61px;
//       margin-top: 26.39px;
//       height: 76.26px;
//       width: 41.7%;
//       margin-left: 28.3%;
//       text-align: center;
//     }
//     .look {
//       font-family: "Inter", sans-serif;
//       position: relative;
//       top: -15.01px;
//       margin-left: 28.3%;
//       height: 59.5px;
//       width: 46%;
//       background-color: #575555;
//       .inner-look {
//         // position: relative;
//         // top: -20px;
//         display: block;
//         font-family: "Inter";
//         font-style: italic;
//         color: black;
//         font-weight: 100;
//         font-size: 20px;
//         line-height: 24px;
//       }
//     }
//   }

// @media all and (max-width: 992px) {
//     .header {
//       .form-text {
//         .text {
//           font-size: 20px;
//         }
//       }
//     }
// }

// @media all and (max-width: 992px) {
//     .header {
//       flex-direction: column;
//       align-items: center;
//       .name {
//         text-align: center;
//       }
//     }
// }

// @media all and (max-width: 576px) {
//     .picture {
//       .h1name {
//         font-size: 30px;
//       }
//     }
// }