* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  max-width: 1130px;
  background-color: aqua;
  margin: 0 auto;
  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 87px;
    .name {
      /* czcionka z filmiku? */
      font-family: "Lato", sans-serif;
      font-weight: 400;
      font-size: 30px;
      line-height: 30px;
      font-style: normal;
      color: #000000;
      height: 77px;
      width: 51.3%;
      margin-left: 1.85%;
      background-color: aquamarine;
      margin-top: 11px;
    }
    .form-text {
      width: 20.9%;
      background-color: #40483a;
      margin-right: 2.3%;
      margin-top: 11px;
      height: 90px;
      border-radius: 20px;
      box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.75);
      .text {
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-style: italic;
        font-size: 30px;
        line-height: 30px;
        margin-top: 10.5px;
        color: #ffffff;
        width: 80%;
        /* czy jest 2 kolor? nie wiem co to za notatka*/
        background-color: black;
        margin-left: 18.3%;
        border: 1px solid #d9d9d9;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }
  .picture {
    margin-left: 13.4%;
    width: 70.8%;
    aspect-ratio: 108/100;
    background: rgba(54, 44, 44, 0.01);
    /* blur ask, zobaczyc o co chodzi ze slabo wspierane, a kolor znalezc narzedziem */
    background-color: #575555;
    backdrop-filter: blur(280px);
    /* background-color: #D9D9D9; */
    border-radius: 65% 7.8% 40% 13%;
    .inner-picture {
      display: inline-block;
      /* height: 383px; */
      /* width: 534px; */
      width: 66.75%;
      aspect-ratio: 139/100;
      background-color: #ffffff;
      margin-left: 18%;
      margin-top: 140px;
      /* border-radius: 200px 20px 100px 50px; */
      border-radius: 37.5% 4.4% 18.75% 9.375%;
      /* border-radius: 43.6% 20px 100px 50px; */
      /* 534/384 */
      /* 75 */
      /* 459 */
      img{
        // width: 33.9%;
        // height: auto;
        height: 300px;
        width: 100px;
      }
    }
    h1 {
      /* moze styknie ten drugi link do czcionki */
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 50px;
      line-height: 61px;
      margin-top: 26.39px;
      height: 76.26px;
      width: 41.7%;
      margin-left: 28.3%;
      text-align: center;
    }
    .look {
      font-family: "Inter", sans-serif;
      position: relative;
      top: -15.01px;
      margin-left: 28.3%;
      height: 59.5px;
      width: 46%;
      background-color: #35660e;
      span {
        display: block;
        font-family: "Inter";
        font-style: italic;
        /* nie dziala ustawienie weight */
        font-weight: 100;
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
  // img{
  //   width: 33.9%;
  //   height: auto;
  // }
  button {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 30px;
    line-height: 30px;
    color: #ffffff;
    margin-top: 29.67px;
    margin-left: 38.3%;
    background: #35660e;
    height: 54.88px;
    width: 19.8%;
    box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    border: none;
    span {
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
  .form {
    h1 {
      text-transform: uppercase;
      width: 79.4%;
      height: 52.64px;
      background-color: #35660e;
      margin-left: 5.2%;
      justify-content: end;
      margin-top: 73px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 33px;
      letter-spacing: 0.15em;
      display: flex;
      align-items: center;
    }

    .under-h1 {
      background: #071594;
      height: 9.29px;
      width: 14.7%;
      margin-left: 69.9%;
      margin-top: 12.39px;
    }
    .inner-form {
      margin-top: 55.74px;
      width: 66.6%;
      margin-left: 18%;
      span {
        display: block;
        height: 43.35px;
        width: 45.9%;
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 33px;
        display: flex;
        align-items: center;
      }
      label {
        display: block;
        position: relative;
        margin-top: 38.45px;
        input {
          margin-left: 0.7%;
          /* margin-right: 2.8%; */
          /* margin-top: 38.45px; */
          width: 30px;
          height: 30px;
          position: absolute;
        }
      }
      hr {
        width: 100%;
        height: 1.55px;
        color: #000000;
      }
      hr:nth-of-type(1) {
        margin-top: 46.45px;
      }
      hr:nth-of-type(2) {
        margin-top: 48px;
      }
      hr:nth-of-type(3) {
        margin-top: 49.55px;
      }
      hr:nth-of-type(4) {
        margin-top: 50.86px;
      }
      span:nth-of-type(2) {
        margin-top: 23.22px;
      }
      span:nth-of-type(3) {
        margin-top: 21.68px;
      }
      span:nth-of-type(4) {
        margin-top: 20.13px;
      }
      span:nth-of-type(5) {
        /* margin-top: 33.45px; */
        /* height: 43.35px; */
        /* display: inline-block; */
        position: absolute;
        top: 0;
      }
    }
  }
}
